RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# Evitar que o WordPress processe a subpasta "selva"
RewriteBase /
RewriteRule ^selva/ - [L]